<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub-FreemarketFX" value="https://nuget.pkg.github.com/FreemarketFX/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub-FreemarketFX>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="%NUGET_FEED_PASSWORD%" />
    </GitHub-FreemarketFX>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="GitHub-FreemarketFX">
      <package pattern="Freemarket*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
